/* Global Rules */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding-inline: 8rem;
}

.flex, .footer__social__icons ul, .footer__list, .footer__contact ul li, .footer__contact ul, .footer__text, .subscription form, .testimonials__id, .productive .container, .features .container, .hero, .header .main__nav__list, .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transition, .footer__attribution a, .footer__social__icons .social__icon, .footer__link, .productive__link, .header .main__nav__link:link, .cta {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.cta {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(100deg, #65e2d9, #339ecc);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  cursor: pointer;
}
.cta:hover {
  filter: brightness(1.25);
  -webkit-filter: brightness(1.25);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/* End of Global Rules */
/* Header */
.header {
  font-family: "Raleway", sans-serif;
  background-color: #1c2431;
  padding-block: 8rem;
}
.header .container {
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 8rem;
}
.header .main__nav__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem;
}
.header .main__nav__link:link {
  border-bottom: 0.1rem solid transparent;
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}
.header .main__nav__link:link:hover, .header .main__nav__link:link:active {
  border-color: inherit;
}

/* End of Header */
/* Hero Section */
.hero {
  padding-block: 8rem;
  background-color: #1c2431;
  text-align: center;
  background-image: url(images/bg-curvy-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .wrapper {
  -webkit-animation-delay: 1.5s !important;
          animation-delay: 1.5s !important;
}
.hero__container {
  max-width: 50%;
}
.hero__img__box img {
  width: 70%;
}
.hero__heading {
  font-size: 3.2rem;
}
.hero__text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-block: 4rem 3rem;
}
.hero__btn {
  font-weight: 700;
  padding: 2rem 10rem;
}

/* End of Hero Section */
/* Features Section */
.features {
  padding-block: 8rem;
  background-color: #181f2a;
  text-align: center;
}
.features .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8rem;
}
.features__card {
  width: 50%;
  padding-inline: 5rem;
}
.features__card:nth-child(2), .features__card:nth-child(4) {
  -webkit-animation-delay: 2s !important;
          animation-delay: 2s !important;
}
.features__card:nth-child(1), .features__card:nth-child(3) {
  -webkit-animation-delay: 2s !important;
          animation-delay: 2s !important;
}
.features__img {
  height: 8rem;
}
.features__heading {
  margin-block: 2rem 1rem;
}
.features__text {
  padding-inline: 6rem;
}

/* End of Features Section */
/* Productive Section */
.productive {
  background-color: #181f2a;
  padding-block: 8rem;
}
.productive .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productive__img, .productive__content {
  width: 50%;
}
.productive__img {
  -webkit-animation-delay: 2.5s !important;
          animation-delay: 2.5s !important;
  -webkit-animation-duration: 1.5 !important;
          animation-duration: 1.5 !important;
}
.productive__content {
  padding-inline: 6rem;
  -webkit-animation-delay: 2.5s !important;
          animation-delay: 2.5s !important;
  -webkit-animation-duration: 1.5 !important;
          animation-duration: 1.5 !important;
}
.productive__heading {
  font-size: 2.8rem;
  padding-right: 10rem;
}
.productive__text {
  padding-block: 2rem;
}
.productive__link {
  color: #65e2d9;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  border-bottom: 0.1rem solid #65e2d9;
}
.productive__link:hover {
  color: white;
  border-color: white;
}
.productive__link:hover img {
  filter: brightness(3);
  -webkit-filter: brightness(3);
}

/* End of Productive Section */
/* Testimonials Section */
.testimonials {
  background-color: #181f2a;
  padding-block: 8rem 15rem;
}
.testimonials .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  position: relative;
}
.testimonials .testimonial__container {
  -webkit-animation-delay: 3s !important;
          animation-delay: 3s !important;
}
.testimonials .pesudo-parent {
  position: relative;
  z-index: 2;
}
.testimonials .pesudo-parent .testimonials__card::before {
  position: absolute;
  content: url(images/bg-quotes.png);
  top: -3.5rem;
  left: -1rem;
  z-index: -1;
}
.testimonials__card {
  padding: 4rem 2.5rem;
  background-color: #202a3c;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.testimonials__id {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  margin-top: 2rem;
}
.testimonials__img {
  width: 10%;
}
.testimonials__img img {
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  width: 100%;
}
.testimonials .small {
  font-size: 1rem;
}

main {
  position: relative;
  background-color: #181f2a;
  padding-bottom: 27rem;
}

.subscription {
  width: 60%;
  padding: 4rem 3rem;
  text-align: center;
  background-color: #1c2431;
  position: absolute;
  left: 50%;
  bottom: -11rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.subscription__heading {
  font-size: 2.6rem;
}
.subscription__text {
  margin-block: 3rem;
  padding-inline: 7rem;
}
.subscription form {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.subscription .email__input, .subscription .subscription__btn {
  outline: none;
  border: none;
}
.subscription .email__input {
  width: 60%;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}
.subscription .subscription__btn {
  padding: 1.5rem 3rem;
  color: inherit;
  font-weight: 700;
  font-size: 1.2rem;
}
.subscription .error-message {
  position: absolute;
  font-size: 1rem;
  color: #ff4242;
  text-align: left;
  left: 8rem;
  bottom: -1.5rem;
  display: none;
}
.subscription form.error .error-message {
  display: block;
}

/* End of Testimonials Section */
/* Footer */
.footer {
  background-color: #0b1523;
  padding-block: 20rem 6rem;
}
.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 3.5rem auto 3.5rem auto;
      grid-template-areas: "logo . . . . . . ." "text . contact . links more-links . social-icons" "attribution attribution attribution attribution attribution attribution attribution attribution";
  -ms-grid-columns: 3fr 1fr 2fr 1fr (1fr)[3];
  grid-template-columns: 3fr 1fr 2fr 1fr repeat(3, 1fr);
  row-gap: 3.5rem;
}
.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}
.footer__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.footer__text div {
  width: 10%;
}
.footer__text div img {
  width: 100%;
  vertical-align: bottom;
}
.footer__contact {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: contact;
}
.footer__contact ul {
  row-gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__contact ul li {
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.footer__links {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: links;
}
.footer__more__links {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: more-links;
}
.footer__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
.footer__link {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 0.1rem solid transparent;
}
.footer__link:hover {
  color: #65e2d9;
  border-color: initial;
}
.footer__social__icons {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
  grid-area: social-icons;
}
.footer__social__icons ul {
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
.footer__social__icons .social__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation-delay: 3.5s !important;
          animation-delay: 3.5s !important;
}
.footer__social__icons .social__icon:hover {
  color: #65e2d9;
  border-color: initial;
}
.footer__attribution {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: attribution;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.2rem;
  text-align: center;
}
.footer__attribution a {
  color: #65e2d9;
  border-bottom: 0.1rem solid transparent;
}
.footer__attribution a:hover {
  border-color: initial;
}
.footer__attribution a.id-name {
  -webkit-animation-delay: 4.5s !important;
          animation-delay: 4.5s !important;
}

/* End of Footer */
@media (max-width: 64em) {
  html {
    font-size: 56.25%;
  }

  .features__text {
    padding-inline: 1rem;
  }

  .productive__content {
    padding-inline: 3rem;
  }
  .productive__heading {
    font-size: 2.4rem;
    padding-right: 0rem;
  }

  .footer__image__icon {
    width: 20% !important;
  }
  .footer__image__icon img {
    width: 100%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }

  p {
    line-height: 1.6;
  }

  .container {
    padding-inline: 8%;
  }

  .header .container {
    padding-inline: 5rem;
  }
  .header__logo {
    width: 25%;
  }
  .header__logo img {
    width: 100%;
  }
  .header .main__nav__list {
    -webkit-column-gap: 6rem;
       -moz-column-gap: 6rem;
            column-gap: 6rem;
  }

  .hero {
    background-image: url(images/bg-curvy-mobile.svg);
  }
  .hero__container {
    max-width: 80%;
  }

  .features .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__card {
    width: 100%;
    padding-inline: 5rem;
  }
  .features__img {
    height: 10rem;
  }

  .productive .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5rem;
  }
  .productive__img, .productive__content {
    width: 100%;
  }
  .productive__img {
    text-align: center;
  }
  .productive__content {
    padding-inline: 1rem;
  }

  .testimonials .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 6.5rem;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .testimonials__img {
    width: 6%;
  }

  .subscription {
    width: 90%;
    padding: 4.75rem 3.25rem;
  }
  .subscription form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 3rem;
  }
  .subscription .email__input, .subscription .subscription__btn {
    width: 60%;
  }

  .footer .container {
        grid-template-areas: "logo" "text" "contact" "links" "more-links" "social-icons" "attribution";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .footer__image__icon {
    width: 3% !important;
  }
  .footer__image__icon img {
    width: 100% !important;
  }
  .footer__social__icons {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .footer__contact {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer__links {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .footer__more__links {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .footer__social__icons {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }

  .footer__attribution {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}
@media (max-width: 30em) {
  .container {
    padding-inline: 7%;
  }

  .header {
    padding-block: 5rem;
  }
  .header .container {
    padding-inline: 4%;
  }
  .header .main__nav__list {
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }

  .hero__container {
    padding-inline: 10%;
  }
  .hero__heading {
    font-size: 3rem;
    line-height: 1.5;
  }

  .features__card {
    padding-inline: 1%;
  }
  .features__text {
    padding-inline: 0;
  }

  .testimonials {
    padding-block: 8rem 20rem;
  }
  .testimonials .container {
    row-gap: 5.625rem;
  }
  .testimonials .pesudo-parent .testimonials__card::before {
    top: -5rem;
    left: 0.5rem;
  }

  main {
    padding-bottom: 21.875rem;
  }

  .subscription {
    bottom: -21.875rem;
    padding: 6rem 5rem;
  }
  .subscription__text {
    padding-inline: 0;
  }
  .subscription .email__input, .subscription .subscription__btn {
    width: 100%;
  }

  .footer {
    padding-top: 30rem;
  }
}
/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
.slide-in-fwd-center, .hero .wrapper, .testimonials .testimonial__container {
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-in-fwd-right
 * ----------------------------------------
 */
.slide-in-fwd-right, .features__card:nth-child(2), .features__card:nth-child(4), .productive__content {
  -webkit-animation: slide-in-fwd-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-in-fwd-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-in-fwd-left
 * ----------------------------------------
 */
.slide-in-fwd-left, .features__card:nth-child(1), .features__card:nth-child(3), .productive__img {
  -webkit-animation: slide-in-fwd-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-in-fwd-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation bounce-in-right
 * ----------------------------------------
 */
.bounce-in-right, .header .main__nav__link:link, .subscription .subscription__btn {
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}

@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
.bounce-in-top, .footer__social__icons .social__icon {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
.tracking-in-expand-fwd, .footer__attribution a.id-name {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}